:root {
    --font : 'VT323', monospace;
    --main-color: #2B2C2F;
    --second-main-color: #3C3D44;
    --margin-color: #626574;
    --hover-margin-color: #648FFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    background-color: var(--main-color);
}

.header {
    width: 100%;
    height: 7vh;
    background-color: var(--hover-margin-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header .logo{
    font-family: var(--font);
    color: aliceblue;
    font-size: 3rem;
}

header nav {
    font-size: 2rem;
    color: aliceblue;
}

header nav p a{
    text-decoration: none;
    color: aliceblue;
}

.all-container {
    width: 90%;
    height: 93vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-container .no-definido {
    width: 100%;
    height: 80px;
    margin: 2px 0;
    background-color: var(--second-main-color);
}

.app{
    display: flex;
    width: 100%;
    height:80%;
    box-sizing: border-box;
}

.app .buscar-pokemon-article{
    width: 30%;
    height: 100%;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
}

.app .buscar-pokemon-article .buscar-tipo {
    width: 100%;
    margin-bottom: 2px;
    height: 25%;
    background-color: var(--second-main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app .buscar-pokemon-article .buscar-tipo button {
    background-color: var(--main-color);
    border: none;
    border: thin solid var(--margin-color);
    width: 11%;
    height: 50px;
    margin: 0;
}

.app .buscar-pokemon-article .buscar-tipo button:hover {
    border: thin solid var(--hover-margin-color);
}

.app .buscar-pokemon-article .buscar-tipo article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.app .buscar-pokemon-article .buscar-tipo .type-all{
    color: aliceblue;
    margin-top: 5px;
    width: 33.33%;
    font-size: 1.5rem;
}

.app .buscar-pokemon-article .buscar-tipo article button {
    width: 10.5%;
}

.app .buscar-pokemon-article .buscar-tipo article button img {
    width: 70%;
}

.app .buscar-pokemon-article .buscar-generacion {
    width: 100%;
    margin-bottom: 2px;
    height: 10%;
    background-color: var(--second-main-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.app .buscar-pokemon-article .buscar-generacion article {
    display: flex;
    width: 70%;
    height: 60%;
}

.app .buscar-pokemon-article .buscar-generacion article button {
    background-color: var(--main-color);
    border: 1px solid var(--margin-color);
    width: 11%;
    color: aliceblue;
    font-size: 1.2rem;
}   

.app .buscar-pokemon-article .buscar-generacion .generacion-all {
    background-color: var(--main-color);
    width: 25%;
    height: 60%;
    font-size: 1.2rem;
    border: 1px solid var(--margin-color);
    color: aliceblue;
}

.app .buscar-pokemon-article .buscar-generacion article button:hover, .app .buscar-pokemon-article .buscar-generacion .generacion-all:hover{
    border: 1px solid var(--hover-margin-color);
}

.app .buscar-pokemon-article .pokemons-section {
    width: 100%;
    height: 65%;
    background-color: var(--second-main-color);
    overflow: auto;
}

.app .buscar-pokemon-article .pokemons-section div{
    display: inline-block;
    width: 85px;
    height: 105px;
    margin: 10px;
    align-self: center;
}

.app .buscar-pokemon-article .pokemons-section div img{
    width: 100%;
    height: 80%;
    background-color: var(--main-color);
    border: thin solid var(--margin-color);
    transition: .1s;
}

.app .buscar-pokemon-article .pokemons-section div img:hover{
    transform: scale(1.2);
    border: thin solid var(--hover-margin-color);
}

.app .buscar-pokemon-article .pokemons-section div p{
    width: 100%;
    height: 20%;
    color: aliceblue;
    overflow: hidden;
}

.app .pokemon-info{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: var(--second-main-color);
    color: aliceblue;
}

.app .buscar-pokemon-article .loading {
    position: fixed;
    top: 55%;
    left: 9%;
}

.app .buscar-pokemon-article .loading img {
    width: 300px;
    height: 200px;
}

.app .buscar-pokemon-article .loading p {
    color: aliceblue;
    text-align: center;
}

.pokemon-info section {
    width: 100%;
    height: 50%;
    display: none;
    flex-direction: row;
}
.pokemon-info-top {
    width: 100%;
   margin-top: 10px;
}
.pokemon-info-top span{
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    border: thin solid var(--margin-color);
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.pokemon-info-top article{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}
.pokemon-info-top article div{
    display: flex;
    width: 50%;
    height: 33.50%;
    border: thin solid var(--margin-color);
    background-color: var(--main-color);
    align-items: center;
    justify-content: center;
}
.pokemon-info-bot {
    width: 100vw;
    margin-bottom: 10px;
}
.pokemon-info-bot .pokemon-info-estadisticas {
    background-color: var(--main-color);
    border: thin solid var(--margin-color);
    width: 50%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pokemon-info-bot .pokemon-info-estadisticas div{
    width: 45%;
    text-align: center;
    border: thin solid var(--margin-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 5px;
}

.pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-hp{
    background-color: #193b1b;
}

.pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-ataque{
    background-color: #3d1f1f;
}

.pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-atqEsp{
    background-color: #3f0d0d;
}

.pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-defensa{
    background-color: #1f223d;
}

.pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-def{
    background-color: #1f223d;
}

.pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-speed{
    background-color: #3a3d1f;
}
.pokemon-info-bot .pokemon-info-habilidades{
    background-color: var(--main-color);
    border: thin solid var(--margin-color);
    width: 50%;
    height: 100%;
    margin-right: 10px;
}
.pokemon-info-bot .pokemon-info-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon-info-bot .pokemon-info-habilidades div {
    width: 45%;
    text-align: center;
    border: thin solid var(--margin-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 5px;
    background-color: #1f2535;
    }
.pokemon-info-bot .pokemon-info-habilidades p {
    width: 45%;
    text-align: center;
    border: thin solid var(--margin-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 5px;
    }

@media (max-width: 600px){
    header nav {
        display: none;
    }
    .all-container{
        width: 100%;
        height: 100%;
    }
    .no-definido{
        display: none;
    }
    .nav-buscar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 51px;
        z-index: 999;
        background-color: #648FFF;
    }
    .app {
        flex-direction: column;
        height: 93vh;
    }
    .app .buscar-pokemon-article{
        width: 100%;
        height: 100%;
    }

    .app .buscar-pokemon-article .loading {
        position: fixed;
        top: 40%;
        left: 33%;
    }
    
    .app .buscar-pokemon-article .loading img {
        width: 150px;
        height: 100px;
    }


    .app .buscar-pokemon-article .buscar-tipo{
        width: 100%;
        height: 18%;
    }
    .app .buscar-pokemon-article .buscar-generacion{
        width: 100%;
        height: 9%;
    }
    .app .buscar-pokemon-article .pokemons-section {
        height: 73%;
    }
    .nav-buscar .btn-tipo{
        width: 20%;
        height: 100%;
    }
    .nav-buscar button{
        width: 20%;
        height: 100%;
        background-color: var(--main-color);
        color: aliceblue;
        border: none;
    }
    .app .pokemon-info {
        width: 100vw;
        height: 40%;
        display: none;
        flex-direction: column;
        border-top: 2px solid var(--main-color);
        color: aliceblue;
    }
    .pokemon-info section {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
    }
    .pokemon-info-top {
        width: 100vw;
       margin-top: 10px;
    }
    .pokemon-info-top span{
        width: auto;
        height: 100%;
    }
    .pokemon-info-img img{
        width: 160px;
        margin-left: 10px;
    }
    .pokemon-info-top article{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 10px;
    }
    .pokemon-info-top article div{
        display: flex;
        width: 50%;
        height: 33.50%;
        border: thin solid var(--margin-color);
        background-color: var(--main-color);
        align-items: center;
        justify-content: center;
    }
    .pokemon-info-bot {
        width: 100vw;
        margin-bottom: 10px;
    }
    .pokemon-info-bot .pokemon-info-estadisticas {
        background-color: var(--main-color);
        border: thin solid var(--margin-color);
        width: 50%;
        height: 100%;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .pokemon-info-bot .pokemon-info-estadisticas div{
        width: 40%;
        height: 25px;
        text-align: center;
        border: thin solid var(--margin-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 5px;
        font-size: 10px;
    }

    .pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-hp{
        background-color: #193b1b;
    }

    .pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-ataque{
        background-color: #3d1f1f;
    }

    .pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-atqEsp{
        background-color: #3f0d0d;
    }

    .pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-defensa{
        background-color: #1f223d;
    }

    .pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-def{
        background-color: #1f223d;
    }
    
    .pokemon-info-bot .pokemon-info-estadisticas .pokemon-info-speed{
        background-color: #3a3d1f;
    }
    .pokemon-info-bot .pokemon-info-habilidades{
        background-color: var(--main-color);
        border: thin solid var(--margin-color);
        width: 50%;
        height: 100%;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pokemon-info-bot .pokemon-info-habilidades div {
        width: 40%;
        height: 35px;
        text-align: center;
        border: thin solid var(--margin-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 5px;
        background-color: #1f2535;
        }
    .pokemon-info-bot .pokemon-info-habilidades p {
        width: 40%;
        height: 30px;
        text-align: center;
        border: thin solid var(--margin-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        margin: 5px;
        }
    }